Welcome to Sad Man with a Bag Lunch

<br>what's in his bag?<br>
<form name="myform" action="/feedme" method="get">
<div align="center">
<select name="mydropdown">
<option id = "taco" value="taco" >TACO</option>
<option id = "tuna" value="tuna" >TUNA</option>
<option id = "monkey" value="monkey" >MONKEY</option>
</select>
</div>
<form name="myform2" action="/feedme" method="get">
<div align="center">
<select name="mydropdown2">
<option id = "dog" value="dog" >SEEING EYE DOG</option>
<option id = "bok" value="bokchoy" >TASTEFUL BOK CHOY</option>
<option id = "trombone" value="trombone" >TROMBONE</option>
</select>
</div>
<form name="myform3" action="/feedme" method="get">
<div align="center">
<select name="mydropdown3">
<option id = "milk" value="milk" >MILK</option>
<option id = "blade" value="blade" >BLADE</option>
<option id = "thecosmos" value="cosmos" >THE COSMOS</option>
</select>
</div>
<input id = "burp" type = "submit" name = "button" value = "burp">
</form>
<form>
